/	{
	/delete-node/ leds;

	leds0 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED0";
		led0: led_0 {
			status = "okay";
			gpios = <&gpio0 2 0>;
			label = "Green LED 1";
		};
	};

	leds1 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED1";
		led1: led_1 {
			gpios = <&gpio0 3 0>;
			label = "Green LED 2";
		};
	};

	leds2 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED2";
		led2: led_2 {
			gpios = <&gpio0 4 0>;
			label = "Green LED 3";
		};
	};

	leds3 {
		compatible = "gpio-leds";
		status = "okay";
		label = "LED3";
		led3: led_3 {
			gpios = <&gpio0 5 0>;
			label = "Green LED 4";
		};
	};

    my-voltage-sensor {
        compatible = "jayant,voltage-sensor";
        io-channels = <&adc 0>;
        io-channel-names = "vdd";
    };
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;
    status = "okay";

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6"; /* VDD为1.8V，除以6刚好为参考电压一半 */ 
		zephyr,reference = "ADC_REF_INTERNAL"; /* 内部参考电压为±0.6V */
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_VDD>;
		zephyr,resolution = <12>;
	};
};

